body {
    background: #f5f6f7;
    color: #1b1b32;
    font-family: Helvetica;
    margin: 0; 
    
  }
  
  #navbar {
    margin-left: -13px;
    position: fixed;
    top: -1px;
    left: 13px;
    display: flex;
    width: 17em;
    flex-direction: column; 
    align-items: center;
    border-right: 3px solid #b0b0b0;
    border-left: 0;
    border-top: 0;
    border-style: inset;
    height: 100%;
  }
  
  h1 {
    text-align: center;
    padding: 5px;
  }
  
  h2 {
    padding: 4px;
  }
  
  p {
    font-size: 16px; 
  }
  
  #title {
    position: relative;
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: ridge; 
  }
  
  nav > ul{
    font-size: 20px;
    width: 100%;  
    padding-inline-start: 0;
  }
  
  nav > ul > li {
    background-color: white;
    display: block;
    position: relative;
    border-bottom: 1px solid black;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 40px;
    text-align: left;
    top: -20;
  }
  
  nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
  }
  
  li > a {
    text-decoration: none;
    color: black;
  }
  
  #main-doc {
    display: block;
    position: absolute;
    bottom: 17px;
    left: 17em;
    top: -20px;
    height: 100%;
    border-bottom: 1000px;
    max-width: 1247px;
    
  }
  
  .main {
    padding: 30px;
    height: 100%;
  }
  
  section {
    padding: 6px;
  
  }
  
  section > ul > li {
    padding: 6px;
    margin-top: 2px;
  }
  
  code {
    display: block;
    background-color: #EBEBEB ;
    padding: 13px;
    margin: 10px;
    color: black;
  }
  
  @media (max-width: 768px) {
    #main-doc {
      position: relative;
      bottom: 0;
      left: 0;
      top: 350px;
      height: 100%;
      border-bottom: 1000px;
      max-width: 1247px;
      width: 100%;
    }
  
  
    #navbar ul {
      overflow-y: auto;
    }
  
  
    #navbar {
      position: absolute;
      display: flex;
      padding: 0;
      width: 100%;
      height: 376px;
      border-bottom: 0;
    }
    
    #title {
    border-bottom: 0; 
  }
  
  }
  
  @media (max-width: 1199px) and (min-width: 769px) {
  
  }